<section class="form">
  <div class="container">
    <div class="form__inner">
      <h1 class="form__title">
        Запрос ставки и условий погрузочно-разгрузочных работ
      </h1>
      <form class="form__items" action="#">
        <div class="form__item">
          <label class="form__label">
            Наименование груза *
            <input class="form__input" type="text" />
          </label>
          <label class="form__label">
            Размер партии *
            <input class="form__input" type="text" />
          </label>
          <label class="form__label">
            ед. измерения *
            <div class="form__select-wrapper">
              <select class="form__select" name="" id="">
                <option value="1">test1</option>
                <option value="2">test2</option>
                <option value="3">test3</option>
              </select>
            </div>
          </label>
          <label class="form__label">
            Направление перевозки *
            <div class="form__select-wrapper">
              <select class="form__select" name="" id="">
                <option value="1">test1</option>
                <option value="2">test2</option>
                <option value="3">test3</option>
              </select>
            </div>
          </label>
          <label class="form__label">
            Пункт назначения перевозки
            <input class="form__input" type="text" />
          </label>
          <label class="form__label">
            Период поступления груза к перевалке
            <div class="form__select-wrapper">
              <select class="form__select" name="" id="">
                <option value="1">test1</option>
                <option value="2">test2</option>
                <option value="3">test3</option>
              </select>
            </div>
          </label>
          <label class="form__label">
            Груз поступает в порт
            <div class="form__select-wrapper">
              <select class="form__select" name="" id="">
                <option value="1">test1</option>
                <option value="2">test2</option>
                <option value="3">test3</option>
              </select>
            </div>
          </label>
          <label class="form__label">
            Груз отправляется из порта
            <div class="form__select-wrapper">
              <select class="form__select" name="" id="">
                <option value="1">test1</option>
                <option value="2">test2</option>
                <option value="3">test3</option>
              </select>
            </div>
          </label>
          <label class="form__label">
            Размер судовой партии
            <input class="form__input" type="text" />
          </label>
          <label class="form__label">
            Опасность груза (класс)
            <input class="form__input" type="text" />
          </label>
          <label class="form__label">
            Дополнительная информация о грузе:
            <textarea class="form__textarea" name="" id=""></textarea>
          </label>
          <label class="form__label">
            Прикрепить файл
            <input class="form__file" type="file" name="file" />
            <div class="form__file-box">
              <span class="form__file-btn">Выберите файл</span>
              <span class="form__file-text">Файл не выбран</span>
            </div>
          </label>
        </div>
        <h3 class="form__items-title">Просим сообщить:</h3>
        <div class="form__item-check">
          <label class="form__label lab-block">
            <input class="form__checkbox" type="checkbox" />
            <span>Ставку ПРР</span>
          </label>
          <label class="form__label lab-block">
            <input class="form__checkbox" type="checkbox" />
            <span>Срок технологического накопления груза</span>            
          </label>
          <label class="form__label lab-block">
            <input class="form__checkbox" type="checkbox" />
            <span>Ставку хранения груза сверх срока технологического накопления</span>            
          </label>
          <label class="form__label lab-block">
            <input class="form__checkbox" type="checkbox" />
            <span>Возможность приёма и перевалки груза в указанные сроки</span>            
          </label>
        </div>
        <h3 class="form__items-title">Информация для обратной связи:</h3>
        <div class="form__item backcall">
          <label class="form__label">
            Имя, фамилия
            <input class="form__input" type="text" />
          </label>
          <label class="form__label">
            Название компании *
            <input class="form__input" type="text" />
          </label>
          <label class="form__label">
            Номер телефона/факса
            <input class="form__input" type="text" />
          </label>
          <label class="form__label">
            Адрес эл. почты *
            <input class="form__input" type="text" />
          </label>
        </div>
        <div class="form__btn">
          <button type="submit">отправить</button>
        </div>
      </form>
    </div>
  </div>
</section>
