<section class="news">
  <div class="container">
    <div class="news__inner">
      <div class="news__top">
        <h2 class="news__title">Новости</h2>
        <a class="news__link" href="#">
          все новости 
          <span>
            <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="14" stroke="#3D348B" stroke-width="2"/><path d="M14.5 18.705v-3H7.81l-.022-1.508H14.5v-2.992l3.75 3.75-3.75 3.75z" fill="#3D348B"/></svg>
          </span>
        </a>
      </div>
      <div class="news__items">
        <div class="news__item">
          <img class="news__item-img" src="images/news/1.jpg" alt="">
          <div class="news__item-box">
            <p class="news__item-date">20/05/22</p>
            <a href="#" class="news__item-title">
              Semper eu pulvinar eget integer
            </a>
            <p class="news__item-text">
              Pretium duis phasellus netus ac. Nunc nibh nunc integer feugiat et aliquam cras. Amet pharetra montes ipsum gravida tellus tellus.
            </p>
          </div>
        </div>
        <div class="news__item">
          <img class="news__item-img" src="images/news/2.jpg" alt="">
          <div class="news__item-box">
            <p class="news__item-date">20/02/22</p>
            <a href="#" class="news__item-title">
              Vitae id nec nulla sit nunc cursus curabitur tempus vel enim.
            </a>
            <p class="news__item-text">
              Cras arcu ac commodo suspendisse commodo ipsum turpis dui. Quis pharetra malesuada eget sit egestas et integer. Suspendisse a.
            </p>
          </div>
        </div>
        <div class="news__item">
          <img class="news__item-img" src="images/news/3.jpg" alt="">
          <div class="news__item-box">
            <p class="news__item-date">30/12/21</p>
            <a href="#" class="news__item-title">
              Integer nisi sagittis in aliquet. Enim eget varius lacinia est a.
            </a>
            <p class="news__item-text">
              Lectus tempus felis pretium vitae. Tempor massa vestibulum condimentum cursus diam quam. Mattis facilisi dignissim donec eget vel.
            </p>
          </div>
        </div>
        <div class="news__item">
          <img class="news__item-img" src="images/news/4.jpg" alt="">
          <div class="news__item-box">
            <p class="news__item-date">29/06/21</p>
            <a href="#" class="news__item-title">
              Facilisis vitae proin quis
            </a>
            <p class="news__item-text">
              Iaculis diam quam velit sit nunc turpis ultricies elementum. Vitae lacinia tristique rutrum faucibus nulla quis ultricies. Risus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>