<section class="service">
  <div class="container">
    <div class="service__inner">
      <div class="service__info">
        <h2 class="service__title">Услуги</h2>
        <p class="service__text">
          Тарифы на услуги по обеспечению контроля доступа на территорию VISMA на 2022 год
          <span><a class="service__link" href="#">pdf</a></span>
        </p>
        <p class="service__text">
          Условия определения цены <br>договора и тарифы на работы
          <span><a class="service__link" href="#">pdf</a></span>
        </p>
        <p class="service__text">
          Договор перевалки <br>(типовая форма)
          <span><a class="service__link" href="#">pdf</a></span>
        </p>
      </div>
      <div class="service__blok">
        <div class="service__blok-items">
          <div class="service__blok-item">
            <h3 class="service__blok-title">услуги</h3>
            <p class="service__blok-text">
              Хранение грузов
            </p>
          </div>
          <div class="service__blok-item">
            <h3 class="service__blok-title">услуги</h3>
            <p class="service__blok-text">
              Швартовые операции
            </p>
          </div>
          <div class="service__blok-item">
            <h3 class="service__blok-title">услуги</h3>
            <p class="service__blok-text">
              Складские операции
            </p>
          </div>
          <div class="service__blok-item">
            <h3 class="service__blok-title">услуги</h3>
            <p class="service__blok-text">
              Агентское обслуживание судов
            </p>
          </div>
          <div class="service__blok-item">
            <h3 class="service__blok-title">услуги</h3>
            <p class="service__blok-text">
              Буксировка / сопровождение судов
            </p>
          </div>
          <div class="service__blok-item">
            <h3 class="service__blok-title">услуги</h3>
            <p class="service__blok-text">
              Погрузочно-разгрузочная деятельность
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>